#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

h1 {
   text-align:center;
   }
#profile{
     text-align:center;
}     

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
    
    /* Create four equal columns that sits next to each other */
    .column {
	      flex: 25%;
	        max-width: 25%;
	  }
	  
	  .column img {
		    margin-top: 8px;
		      vertical-align: middle;
		        width: 100%;
		}
		
		/* Responsive layout - makes a two column-layout instead of four columns */
		@media screen and (max-width: 800px) {
			  .column {
				  margin-top: 10px;
				      flex: 50%;
				          max-width: 50%;
					    }
				    }
				    
				    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
				    @media screen and (max-width: 600px) {
					      .column {
						          flex: 100%;
							      max-width: 100%;
							        }
							}uote-container {
  margin-top: 20px;
}



